<template>
  <div>
    <p>test</p>
    <transition name="button" mode="out-in">
      <button v-bind:key="isEditing" @click="isEditing = !isEditing">
        {{ isEditing ? 'Save' : 'Edit' }}
      </button>
    </transition>
  </div>
</template>

<script>
export default {
  name: 'CssTest',
  data() {
    return  {
      isEditing: true,
    }
  },
}
</script>

<style scoped>
p {
  width:50px;
  background-color:red;
  transition-duration: 2s;
  transition-property:width;
}
p:hover {
  width:300px;
  background-color:blue;
}
.button-enter-active {
    transition: all 2s;
}
.button-leave-active {
    transition: all 1s;
}
</style>
