<template>
  <div>
    <div @click="clickNotStopParent">
      <a @click="clickNotStopChildren">clickNotStopChildren</a>
    </div>
    <div @click="clickStopParent">
      <a @click.stop="clickStopChildren">clickStopChildren</a>
    </div>
    <form @submit="submit">
      <input type="text" name="submit">
      <button type="submit">submit</button>
    </form>
    <form @submit.prevent="submitPrevent">
      <input type="text" name="submitPrevent">
      <button type="submit">submitPrevent</button>
    </form>
    <div @click="clickNotCaptureParent">
      <a @click="clickNotCaptureChildren">clickNotCaptureChildren</a>
    </div>
    <div @click="clickCaptureParent">
      <a @click.capture="clickCaptureChildren">clickCaptureChildren</a>
    </div>
  </div>
</template>

<script>
export default {
  name: 'Modifier',
  methods: {
    clickNotStopParent() {
      console.log('clickNotStopParent');
    },
    clickNotStopChildren() {
      console.log('clickNotStopChildren');
    },
    clickStopParent() {
      console.log('clickStopParent');
    },
    clickStopChildren() {
      console.log('clickStopChildren');
    },
    submit() {
      console.log('submit');
    },
    submitPrevent() {
      console.log('submitPrevent');
    },
    clickNotCaptureParent() {
      console.log('clickNotCaptureParent');
    },
    clickNotCaptureChildren() {
      console.log('clickNotCaptureChildren');
    },
    clickCaptureParent() {
      console.log('clickCaptureParent');
    },
    clickCaptureChildren() {
      console.log('clickCaptureChildren');
    },
  }
}
</script>

<style scoped>

</style>
