<template>
  <div id="app">
    <img alt="Vue logo" src="./assets/logo.png">
    <HelloWorld :msg="msg" @parelentMsg="changeMsg" />
    <CssTest />
    <Modifier />
    <video :src="video" autoplay></video>
  </div>
</template>

<script>
import HelloWorld from './components/HelloWorld.vue'
import CssTest from './components/CssTest.vue'
import Modifier from './components/Modifier.vue'

export default {
  name: 'app',
  components: {
    HelloWorld,
    CssTest,
    Modifier,
  },
  data: () => ({
    msg: 'Welcome to Your Vue.js App',
    video: '00028320.mp4',
  }),
  methods: {
    changeMsg(msg) {
      this.msg = msg;
    }
  }
}
</script>

<style>
#app {
  font-family: 'Avenir', Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  margin-top: 60px;
}
</style>
